.card {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow:
    inset -10px -10px 10px rgba(108, 108, 108, 0.44),
    inset 10px 10px 10px rgba(89, 89, 99, 0.13);
  background: var(--main-color);
  text-align: center;
  color: white;
  z-index: 9999;
  position: relative;
}

.bkg {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}
.exit {
  top: 5px;
  right: 10px;
  position: absolute;
}

.exit h1 {
  margin: 0;
}

h3 {
  color: var(--accent-color);
}

button {
  border-radius: 5px;
  border-style: none;
  background: white;
  box-shadow:
    inset -5px -5px 10px rgba(108, 108, 108, 0.44),
    inset 5px 5px 10px rgba(89, 89, 99, 0.13);
  margin: 3px;
}
select {
  border-radius: 5px;
  border-style: none;
  box-shadow:
    inset -5px -5px 10px rgba(108, 108, 108, 0.44),
    inset 5px 5px 10px rgba(89, 89, 99, 0.13);
  color: var(--accent-color);
  margin: 3px;
}

input {
  border-radius: 5px;
  border-style: none;
  box-shadow:
    inset -5px -5px 10px rgba(191, 191, 191, 0.44),
    inset 5px 5px 10px rgba(149, 149, 165, 0.13);
  color: var(--accent-color);
  padding: 10px;
  margin: 3px;
}
