.card {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow:
    inset -10px -10px 10px rgba(108, 108, 108, 0.44),
    inset 10px 10px 10px rgba(89, 89, 99, 0.13);
  background: var(--main-color);
}
