.main {
  text-align: center;
  font: 100% Verdana;
  background-size: cover;
  background: linear-gradient(
      180deg,
      rgba(100, 0, 255, 0.1),
      rgba(100, 0, 255, 0.2),
      rgba(100, 0, 255, 0.3),
      rgba(100, 0, 255, 0.4)
    )
    no-repeat fixed;
}
.card {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px 30px;
  border-radius: 12px;
  background: linear-gradient(115deg, #e07fb4, #c17af4, #656597);
  text-align: center;
  color: white;
}
