body {
  text-align: center;
  font: 100% Verdana;
  background-size: cover;
  /*background: linear-gradient(*/
  /*    180deg,*/
  /*    rgba(100, 0, 255, 0.1),*/
  /*    rgba(100, 0, 255, 0.2),*/
  /*    rgba(100, 0, 255, 0.3),*/
  /*    rgba(100, 0, 255, 0.4)*/
  /*  )*/
  /*  no-repeat fixed;*/
}
